<template>
  <div class="c-breadcrumb">
    <md-card md-title="">
      <div class="col s12">
        <a href="#!" class="breadcrumb active">Home</a>
      </div>
    </md-card>
  </div>
  <div class="row dashboard-cards">
    <div class="col s4">
      <md-card md-title="Deployments Complete" class="completed-deployments">

      </md-card>
    </div>
    <div class="col s4">
      <md-card md-title="Deployment Pending" class="pending-deployments">

      </md-card>
    </div>
    <div class="col s4">
      <md-card md-title="Deployment Failed" class="failed-deployments">

      </md-card>
    </div>
  </div>
  <div class="row">
    <div class="col s8">
      <md-card md-title="System Performance" class="dashboard-card-height">

      </md-card>
    </div>
    <div class="col s4">
      <md-card md-title="Recent activities" class="dashboard-card-height">

      </md-card>
    </div>
  </div>
</template>
