<template bindable="router">
  <require from="./notifications.css"></require>
  <div class="notification-wrapper">
    <a md-sidenav-collapse="ref.bind: sideNavRight;" md-waves>
      <i class="material-icons">notifications <small class="notification-badge">5</small></i>
    </a>
    <md-sidenav view-model.ref="sideNavRight" md-edge="right">
      <ul>
        <li md-waves class=""><a>Notifications</a></li>
        <li class="divider"></li>
        <li md-waves><a>About</a></li>
        <li md-waves><a>Installation</a></li>
        <li md-waves><a>Project Status</a></li>
        <li md-waves><a>Help/Docs</a></li>
      </ul>
    </md-sidenav>
  </div>
</template>
