<template bindable="router">
  <md-sidenav md-fixed="true" class="c-sidebar">
    <div class="c-brand-logo center">
      <span class="logo-wrapper">
        <a href="#/home" class="c-brand-logo log-text">
          <i class="material-icons">font_download</i>urelia
        </a>
      </span>
    </div>
    <ul>
      <li md-waves repeat.for="row of router.navigation">
        <a class="nav-text" href.bind="row.href">
          <i class="material-icons">${row.settings.icon}</i> ${row.title}
        </a>
      </li>
    </ul>
  </md-sidenav>
</template>
