.c-navbar nav {
  position: absolute !important;
}

.c-sidebar .side-nav {
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
}

.c-sidebar .c-brand-logo {
  color: #fff !important;
  margin: 37px;
}

.c-sidebar a, .c-sidebar .au-target, .c-sidebar i.material-icons {
  color: #fff !important;
}

.c-brand-logo .logo-wrapper {
  font-size: 40px;
  white-space: nowrap;
  line-height: 17px !important;
  /*margin: 20px;*/
}

.c-navbar .input-field span {
  position: absolute;
  top: 5px;
}
.c-navbar .nav-wrapper .input-field input[type=search] {
  height: unset !important;
}

#account-dropdown {
  /*top: unset !important;
  position: inherit !important;*/
  top: 66px !important;
}
